* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html,
body {
    height: 100%;
    width: 100%;
    font-family: 'Oswald', sans-serif;
}
/* *** */
.btn-m{
    margin-top: 7px;
    border: none;
    margin-bottom: 20px;
}
/* -------------header----------------- */
.navbar {
    font-weight: 700;
    padding: 20px !important;
    height: 70px !important;  /* Fix typo here */
}




.header {
    box-sizing: border-box;
    height: 100%;
}

nav ul {
    display: inline-block;
    list-style: none;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

ul li a {
    text-decoration: none;
    color: #555;
}

p {
    color: #555;
}

.row .header1 {
    margin-top: 150px;
    padding-bottom: 20px;
}

.row .header1 h1 {
    font-size: 50px;
    line-height: 60px;
}

.header {
    background: radial-gradient(#fff, #8ea7e9);

    /* border-bottom-left-radius: 20px; */
    border-bottom-right-radius: 50%;
}
.header .btn{
    font-size:1.2rem !important;
    border-radius: 20px;
    padding: 0.6rem 1.6rem;
}

/* ----------------------section-2---------------------------*/
.main {
    padding-top: 150px;
    padding-bottom: 100px;
}

.main .container .row {
    display: flex;
    justify-content: center;
}

.product-title {
    margin-top: 200px;
    font-weight: 800;
    font-size: 2rem;
    margin-bottom: 120px;
    border-radius: 30%;
    
}
.product-title::after{
    content: '';
    background-color: #8ea7e9;
    height: 6px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 40px;
    display: block;
    border-radius: 10px;
    transform: translateY(-10px);
}

.product-title p {
    margin-top: 10px;
}

.product-img img {
    display: flex;
    justify-content: center;
}

.product-img p {
    text-decoration: none;
    margin-bottom: 0 !important;
}

.product-img .col-md-3 i {
    color: orange;
}
 .main .row .col-md-3:hover{
    transform: translateY(-4px);
    cursor: pointer;
    transition: 1s ease ;
}
.product-img .col-md-3{
    width: 270px;
}
.product-img .col-md-3 img{
    border-radius: 5px;
}

/* ------------------------------SMART BAND----------------------------- */
.main .container-fluid{
background: radial-gradient(#fff,#8ea7e9);
height: 500px;
/* padding-top: 70px; */
margin-top: 90px;
display: flex;
padding-left: 300px;
align-items: center;
border-radius: 20px;
}
.main .container-fluid .Band-text{
    font-size: 1.2rem;
    margin-top: 50px;
    margin-bottom: 30px;

}
.main .container-fluid h1{
    font-weight: 700;
    
}
/* ------------------------TESTIMONIALS------------------------------ */
.testimonials{
    margin-top: 150px;
    margin-bottom: 50px;

}
.testimonials .col-md-3{
    box-shadow: 1px 1px 10px;
    border-radius: 20px;
    margin-right: 20px ;
    width: 300px;
    margin-bottom: 30px;
}
.testimonials .col-md-3 img{
    border-radius: 50%;
    width: 70px;
} 
.testimonials i{
    color: orange;
}
.testimonials .fa-quote-left{
    font-size:3rem ;
}
/* ---------------FOOTER --------------------------- */
.footer{   
    height: auto;
    background-color: #000000;
    box-sizing: border-box;
    overflow: hidden;
    padding-bottom: 50px;
    padding-left: 50px;
}
.footer h6{
    color: white;
}
.footer a {
    text-decoration: none;
    color: #555;
}

.footer .col-md-3{
    margin-top: 60px;
}
.footer img{
    width: 150px;
}

/* ----------------------------RESPONSIVE--------------------------------------------------- */

@media (max-width:600px) {
    nav {
        display: none;
    }

    .header {
        box-sizing: border-box;
        height: 125%;
        border-bottom-left-radius: 20px;
        border-bottom-right-radius: 20px;
    }

    .product-img img {
        width: 300px;
    }

    .product-img {
        width: 300px;
        position: relative;
        left: 13%;
    }

    .product-img .col-md-2 {
        box-sizing: border-box;
        margin-bottom: 20px;
        padding-top: 20px;
        border-radius: 5px;
    }
    .main .container-fluid{
        
        position: relative;
        padding-left: 10px;
        height: 740px;
        padding-top: 70px;
        margin-top: 90px;
        }

        .testimonials .col-md-3{
            box-shadow: 1px 1px 10px;
            border-radius: 20px;
            margin-right: 20px ;
            width: 300px;
            margin-bottom: 30px;
        }
        .company-logo{
            
            box-sizing: border-box;
            overflow: hidden;
            padding: 100px;
            
    }
        .footer{
            padding-right:50px ;
        }
        .footer img{
            width: 180px;
            padding-bottom: 10px;
        }
        .footer h6{
            font-size: 1.2rem;
        }
}